<div ng-controller="ResourceCtrl">
	<div class="jumbotron" id="resourceInfoBox" ng-show="!element.section_id">
		<div class="something">
			<p class="leadResourceText">
			{{element.name}} 
			</p>
			<h4>By: Øyvind Hellenes | <a href="{{element.url}}" class="orange" target="_blank">{{element.url}}</a></h4>
			<div ng-include src="'views/resource.html'"></div>
			<div class="infoBox">
			<p id="toolbox" style="margin-top: 10px;">Got it?</p><input type="checkbox" ng-model="boxChecked" ng-click="boxClicked()" id="checkbox-9-1" /><label style="margin-top: 10px;" for="checkbox-9-1"></label>
			<div class="btn-group" id="addToList" style="margin-top: -25px;">
		  		<button type="button" ng-click="isCollapsed = !isCollapsed; setResource(element)" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="resource.select" btn-radio="'add'"> Add to list
		  		</button>
		  		<button type="button" ng-click="isCollapsed2 = !isCollapsed2" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="resource.select" btn-radio="'note'"> See note
		  		</button>
			</div>
				<div class="progress" style="width: 50px; float:right; margin-top: 10px;">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
					<span><p>{{votes}}</p></span>
				  </div>
				</div>
			<div id="toolVote" style="float:right; margin: 10px;">
				<button type="button" class="btn btn-default btn-sm" ng-click="vote(true)">
					<span class="glyphicon glyphicon-thumbs-up" id=""></span>
				</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="vote(false)">
					<span class="glyphicon glyphicon-thumbs-down" id="" ></span>
				</button>
			</div>

			<div collapse="isCollapsed">
				<div class="well well-lg" id="levels">
					<div class="col-md-3" >
						<ul ng-repeat="list in add.value[0]" class="level1" id="resourceUl">
							<li ng-class="isHighlighted(list)" id="resourceLi" ng-click="goToSub(list, 1)">{{list.name}}</li>
						</ul>
					</div> 
					<div class="col-md-3" >
						<ul ng-repeat="sub in add.value[1]" class="level2" id="resourceUl">
							<li ng-class="isHighlighted(sub)" id="resourceLi" ng-click="goToSub(sub, 2)">{{sub.name}}</li>
						</ul>
					</div>
					<div class="col-md-3" >
						<ul ng-repeat="subsub in add.value[2]" class="level2" id="resourceUl">
							<li ng-class="isHighlighted(subsub)" id="resourceLi" ng-click="goToSub(subsub, 3)">{{subsub.name}}</li>
						</ul>
					</div>
					<div class="col-md-3" >
						<ul ng-repeat="subsubsub in add.value[3]" class="level2" id="resourceUl">
							<li ng-class="isHighlighted(subsubsub)" id="resourceLi" ng-click="goToSub(subsubsub, 4)">{{subsubsub.name}}</li>
						</ul>
					</div>
					<button type="button" ng-click="addToList();isCollapsed = !isCollapsed" ng-show="!isCollapsed" class="btn btn-success">Add
		  			</button>
				</div>		
			</div>
			<div collapse="isCollapsed2">
                    <input type="text" class="form-control" ng-show="editNote" placeholder="Write something about this resource" ng-model="note" ng-keyup="onEnter($event.keyCode)">
                    <blockquote ng-hide="editNote">
                    	<p>{{note}}
                    	<span class="glyphicon glyphicon-edit" id="sidebarIcons" ng-click="editNote = !editNote"></span></p>
                    </blockquote>
			</div>
			</div>
			
		</div>
	
	</div>
	<div class="jumbotron" id="resourceInfoBox" ng-show="element.section_id">
		<h2 style="text-align: center;">{{element.name}}</h2>
	</div>


</div>