<div class="jumbotron" id="jumboBox" ng-controller="SearchCtrl">

    <div class="col-md-3">
      <div id="topPadding"></div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="myPlaylists">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" id="myPlaylistHead">
            <p class="lead" id="panel-title" class="accordion-toggle">
                Search
            </p>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="filterBar">

                  <div class="btn-group btn-group-justified">
                    <label class="btn btn-primary" ng-model="search.type" btn-radio=""><span class="glyphicon glyphicon-asterisk" id="all"></span></label>
                    <label class="btn btn-primary" ng-model="search.type" btn-radio="'video'"><span class="glyphicon glyphicon-film" id="video"></span></label>
                    <label class="btn btn-primary" ng-model="search.type" btn-radio="'text'"><span class="glyphicon glyphicon-pencil" id="text"></span></label>
                    <label class="btn btn-primary" ng-model="search.type" btn-radio="'url'"><span class="glyphicon glyphicon-link" id="link"></span></label>
                    <label class="btn btn-primary" ng-model="search.type" btn-radio="'list'"><span class="glyphicon glyphicon-list" id="list"></span></label>
                    <label class="btn btn-primary" ng-model="search.type" btn-radio="'more'"><span class="glyphicon glyphicon-record" id="more"></span></label>
                  </div>
              </div>
              <p>Related topics:</p>
              <p>Make a topic page for x</p>

            </div>
          </div>
        </div>

      </div>
      
    </div>
    <div class="col-md-6">
      <div id="topPadding"></div>

      <div ng-repeat="element in searchRes.value">
        <cs-resource element="element" id="element{{$index}}"><cs-resource>
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>




