  <div class="col-md-3">
  <!-- This is the left where you will select which playlist to submit to -->
<!--     <div id="topPadding"></div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" id="myPlaylists">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" id="myPlaylistHead">
          <p class="lead" id="panel-title" class="accordion-toggle">
              Submit
          </p>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>Choose a list to submit to:</p>
            <table class="table table-striped table-hover ">
                <thead>
                </thead>
                <tbody>
                  <tr ng-repeat="list in lists.value">
                    <td ng-class="isSelected(list)" ng-click="passPlaylist(list)">
                      <p>{{list.name}}</p>
                    </td>

                  </tr>

                </tbody>
              </table>
          </div>
        </div>
      </div>

    </div> -->
  </div>
  <div class="col-md-7">
    <div id="topPadding"></div>
    <div class="jumbotron" id="resourceInfoBox" ng-controller="SubmitCtrl">
      <p class="leadText">Share something useful</p>
      <div ng-show="toPlaylist.value">
        <h4>Add to playlist: {{thisList.value.name}}</h4>
      </div>
      <form >
		<ul class="list-inline">
			<li id="cell">
				<div class="btn btn-primary" id="categoryBtn" ng-class="{active:tabIsSelected('url'), inactive:!tabIsSelected('url')}" ng-click="setTab('url')">
					<p id="white">Share a link</p>
				</div>
			</li>
			<li id="or">
				<div>
					<p>or</p>
				</div>
			</li>
			<li id="cell">
				<div class="btn btn-primary" id="categoryBtn" ng-class="{active:tabIsSelected('text'), inactive:!tabIsSelected('text')}" ng-click="setTab('text')">
					<p id="white">Use your own words</p>
				</div>
			</li>
			<li id="or">
				<div>
					<p>or</p>
				</div>
			</li>
			<li id="cell">
				<div class="btn btn-primary" id="categoryBtn" ng-class="{active:tabIsSelected('file'), inactive:!tabIsSelected('file')}" ng-click="setTab('file')">
					<p id="white">Upload a file</p>
				</div>
			</li>
		</ul>
	
	  <div id="inputField">
        <input type="text" class="form-control" placeholder="Give it a title" ng-model="resource.name">
        </div>
      <div ng-show="tabIsSelected('url')" id="inputField">
        <input type="text" class="form-control" placeholder="URL" ng-model="resource.url">
      </div>
	  <div ng-show="tabIsSelected('text')">
      <summernote height="200"  ng-model="resource.text"></summernote>
	  </div>
    <div ng-show="tabIsSelected('file')">
      <form ng-submit="submitFile()">
        <input type="file" class="form-control" cs-upload="resource.file" >
        <button type="submit">Submit file</button>
      </form>
  
    </div>

        <div id="submitBtn">
          <button type="submit" ng-click="submit()" class="btn btn-success">Submit</button>

        </div>

      </form>
      <!-- Just testing file uploading -->
<!--       <button class="btn default" ng-click="showPic()">Show picture</button>
      <div ng-show="picture">
        <img src="http://localhost:8888/Corsane/web/app_dev.php/api/file/filedownload?fileId=1">
        <iframe class="iframe" width="500" height="325"  src="http://localhost:8888/Corsane/web/app_dev.php/api/file/filedownload?fileId=4" frameborder="0" allowfullscreen></iframe>
    </div> -->
  </div>
  <div class="col-md-1"></div>

  	