<div class="navbar navbar-default navbar-fixed-top" role"navigation">
    <div class="container">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav" id="centerNav">
            
            <li><img src="images/Logo.png" id="logo" ng-click="goHome(yourdrunk)"></li>
              <form class="navbar-form navbar-left" role="search" ng-submit="search(searchTerm)" > 
                  <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm" id="searchbar">
                    <div class="input-group-btn">
                      <button class="btn btn-default" id="searchBtn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
              </form>
              <li ng-class="{ activeTab: isActive('/playlist')}"><a ui-sref="playlist"><p id="navLink">My playlists</p></a></li>
              <li ng-class="{ activeTab: isActive('/submit')}"><a ui-sref="submit"><p id="navLink">Submit</p></a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="login"><p id="navLink">Login</p></a></li>
        </ul>

        </div>
        
      
    </div>
  </div>