	<div ng-show="!showTopicForm">

	  <p id="addlist" ng-click="showTopicForm = !showTopicForm;"><span class="glyphicon glyphicon-plus"></span> Create New Topics </p>
	</div>
	<div ng-show="showTopicForm">
	  <form ng-submit="createNewTopic()">
	    <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="{{thisSearch}}" ng-model="topicName">
<!-- 	    <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="Input" ng-model="topicDescription"> -->
	    <button type="submit" class="btn btn-success">Create new topic</button>
	  </form>
	</div>