<div class="jumbotron" id="jumboBox" ng-controller="SearchCtrl">

    <div class="col-md-3">
    
    </div>
    <div class="col-md-6">
      <div id="topPadding"></div>
      <div class="filterBar">

          <div class="btn-group btn-group-justified">
            <label class="btn btn-primary" ng-model="search.type" btn-radio=""><span class="glyphicon glyphicon-asterisk" id="all"></span> All</label>
            <label class="btn btn-primary" ng-model="search.type" btn-radio="'video'"><span class="glyphicon glyphicon-film" id="video"></span> Video</label>
            <label class="btn btn-primary" ng-model="search.type" btn-radio="'text'"><span class="glyphicon glyphicon-pencil" id="text"></span> Text</label>
            <label class="btn btn-primary" ng-model="search.type" btn-radio="'url'"><span class="glyphicon glyphicon-link" id="link"></span> Link</label>
            <label class="btn btn-primary" ng-model="search.type" btn-radio="'more'"><span class="glyphicon glyphicon-record" id="more"></span> More</label>
          </div>
      </div>
      <div ng-repeat="element in searchRes.value">
        <resource element="element" id="element{{$index}}"><resource>
      </div>
    </div>
    <div class="col-md-3">
      <div id="topPadding"></div>
      <topicbar lists="searchRes.lists" topic="searchRes.topic"></topicbar>  
    </div>

  </div>




