<div class="playlistbar" ng-controller="MyContentCtrl" > 

  <div class="col-xs-3">
    <div id="rightBar">
        <!-- <div ng-include src="'views/topic.html'"></div> -->
        <myplaylists></myplaylists>
        
    </div>
  </div>
  <div class="col-xs-6">
    <div id="topPadding">
      <h1 class="playlistTitle">{{listElements.name}}</h1>
      <button  type="button" ng-click="toSubmit(listElements.elements)"  class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add new resource
      </button>
      <hr>
    </div>
    <div ng-if="isPlaylist.value">
      <div ng-repeat="element in listElements.elements" class="elementRepeater">
        <resource element="element" id="element{{$index}}" class="resource"><resource>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div ng-show="isPlaylist.value" id="rightBar">
      <playlistbar></playlistbar>
    </div> 
  </div>

</div>
