<div class="playlistbar" ng-controller="MyContentCtrl" > 

  <div class="col-xs-3">
    <div id="rightBar">
        <!-- <div ng-include src="'views/topic.html'"></div> -->
        <myplaylists></myplaylists>
        
    </div>
  </div>
  <div class="col-xs-6">
    <div id="topPadding"></div>
    <div ng-if="isPlaylist.value">
      <div ng-repeat="element in listElements.elements">
        <resource element="element" id="element{{$index}}" class="resource"><resource>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div ng-show="isPlaylist.value" id="rightBar">
      <playlistbar></playlistbar>
    </div> 
  </div>

</div>
