<div ng-show="topic.name">

	<div class="jumbotron" id="topicbar">
	<p class="greyFontMd" ng-show="!topic.main_image.url">{{topic.name}}</p>
	<img id="topicImg" ng-show="topic.main_image.url" src="{{topic.main_image.url}}">
	<p class="greyFontMd" ng-show="topic.main_image.url" id="topicTitle">{{topic.name}}</p>
	<accordion close-others="oneAtATime">
	    <accordion-group heading="Description" is-open="status.isFirstOpen">
	    	<p>{{topic.description}}</p>
	    </accordion-group>
	    <accordion-group heading="Playlists">
	    	<table class="table table-hover ">
	    	    <thead>
	    	    </thead>
	    	    <tbody>
	    	      <tr ng-repeat="list in lists">
	    	        <td ng-class="{ selectedElement: isActiveList(list.id, $index)}" ng-click="openPlaylist(list)">
	    	          <p class="lead">{{list.name}}</p>
	    	        </td>
	    	      </tr>
	    	    </tbody>
	    	  </table>
	    </accordion-group>
	    <accordion-group heading="Subtopics">
	      <p>The body of the accordion group grows to fit the contents</p>
	    </accordion-group>
	  </accordion>
	</div>
</div>
<div ng-show="!topic.name">
	<div class="jumbotron" id="topicbar2">
	<p class="greyFontMd">No topic found for <strong>"{{thisSearch}}"</strong>. Want to make one?</p>
	<div ng-show="!showTopicForm">
	  <button class="btn btn-default" ng-click="showTopicForm = !showTopicForm;"><span class="glyphicon glyphicon-plus"></span> Create New Topics</button>
	</div>
	<div ng-show="showTopicForm">
	  <form ng-submit="createNewTopic()">
	    <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="{{thisSearch}}" ng-model="topicName">
	    <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="Input" ng-model="topicDescription">
	    <button type="submit" class="btn btn-success">Create new topic</button>
	  </form>
	</div>
	<div ng-show="lists.length > 0">

		<p class="greyFontLg">Playlists</p>
		<table class="table table-hover ">
		    <thead>
		    </thead>
		    <tbody>
		      <tr ng-repeat="list in lists">
		        <td ng-class="{ selectedElement: isActiveList(list.id, $index)}" ng-click="openPlaylist(list)">
		          <p class="lead">{{list.name}}</p>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</div>
	</div>
</div>