<div ng-show="topic.name">

	<div class="jumbotron" id="topicbar">
	<p class="greyFontMd" ng-show="!topic.main_image.url">{{topic.name}}</p>
	<img id="topicImg" ng-show="topic.main_image.url" src="{{topic.main_image.url}}">
	<p class="greyFontMd" ng-show="topic.main_image.url" id="topicTitle">{{topic.name}}</p>
	<div ng-if="!topic.main_image.url">
		<modal name="'Add a picture'" style="'addNewBtn'" ng-if="!topic.description" modid="'1'">
		</modal>
	</div>
	<div id="description">
		<p ng-if="topic.description">{{topic.description}}</p>
		<modal name="'Add a description'" style="'addNewBtn'" ng-if="!topic.description" modid="'2'">
			<p>Funker det ikke?</p>
			<input type="textarea" model="">
			<button type="btn-default" ng-click="">OK</button>
		</modal>

	</div>
	<accordion close-others="oneAtATime">
	    <accordion-group heading="Playlists" is-open="status.isFirstOpen">
	    	<modal name="'Add a Playlist'" style="'addNewBtn'" title="'My Playlists'" modid="'3'">
	    		<table class="table table-hover table-striped">
	    		    <thead>
	    		    </thead>
	    		    <tbody>
	    		      <tr ng-repeat="list in mylists.value">
	    		        <td ng-class="{ selectedElement: isActiveList(list.id, $index)}" ng-click="addPlaylist(list, topic)">
	    		          <p class="lead">{{list.name}}</p>
	    		        </td>
	    		      </tr>
	    		    </tbody>
	    		  </table>
	    	</modal>
	    	<table class="table table-hover table-striped">
	    	    <thead>
	    	    </thead>
	    	    <tbody>
	    	      <tr ng-repeat="list in lists">
	    	        <td ng-class="{ selectedElement: isActiveList(list.id, $index)}" ng-click="openPlaylist(list)">
	    	          <p class="lead">{{list.name}}</p>
	    	        </td>
	    	      </tr>
	    	    </tbody>
	    	  </table>
	    </accordion-group>
	    <accordion-group heading="Subtopics">
	      <p>The body of the accordion group grows to fit the contents</p>
	    </accordion-group>
	  </accordion>
	</div>
</div>
<div ng-show="!topic.name">
	<div class="jumbotron" id="topicbar2">
	<p class="greyFontMd">No topic found for <strong>"{{thisSearch}}"</strong>. Want to make one?</p>
	<addtopic></addtopic>
	<div ng-show="lists.length > 0">

		<p class="greyFontLg">Playlists</p>
		<table class="table table-hover ">
		    <thead>
		    </thead>
		    <tbody>
		      <tr ng-repeat="list in lists">
		        <td ng-class="{ selectedElement: isActiveList(list.id, $index)}" ng-click="openPlaylist(list)">
		          <p class="lead">{{list.name}}</p>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</div>
	</div>
</div>