	<div class="jumbotron" id="{{element.level > 1 ? 'sectionInfoBox' : 'resourceInfoBox'}}" ng-show="!element.section_id">
		<div class="something">
			<div class="resourceTop">
				<p class="greyFontMd" id="leadResourceText">
				{{element.name}} 
				</p>
				<span class="glyphicon glyphicon-remove" ng-show="element.list_element_id" id="removeTop" ng-click="removeResource(element, index, elements)"></span>
			</div>
			<div ng-mouseenter="shoow = true; show.index = index">
			
			<div ng-include src="'components/resource/resource.html'"></div>
			<div class="infoBox" ng-show="shoow && index == show.index">
				<ul class="list-inline">
					<li>
						<p class="greyFontSm verticalLine"><span ng-model="boxChecked" ng-click="boxClicked()" class="glyphicon glyphicon-check"></span></p>
					</li>
					<li>
						<p class="greyFontSm verticalLine" ng-click="isCollapsed = !isCollapsed; setResource(element)" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="resource.select" btn-radio="'add'"> Add to list</p>
					</li>
					<li>
						<p class="greyFontSm verticalLine" ng-click="isCollapsed2 = !isCollapsed2" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model="resource.select" btn-radio="'note'"> See note</p>
					</li>
					<li>
						<p class="greyFontSm verticalLine" id="voteUp"><span class="glyphicon glyphicon-thumbs-up" ng-click="vote(true)" ></span></p>
					</li>
					
					<li>
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
						
						  </div>
						</div>
					</li>
					<li>
						<p class="greyFontSm verticalLine" id="voteDown"><span class="glyphicon glyphicon-thumbs-down" ng-click="vote(false)" ></span></p>
					</li>
				</ul>

			<div collapse="isCollapsed">
				<div class="well well-lg" id="levels">
					<div class="col-md-3" >
						<ul ng-repeat="list in add.value[0]" class="level1" id="resourceUl">
							<li ng-class="isHighlighted(list)" id="resourceLi" ng-click="goToSub(list, 1)"><p class="lead">{{list.name}}</p></li>
						</ul>
						<button type="button" ng-click="addToList();isCollapsed = !isCollapsed" ng-show="!isCollapsed" class="btn btn-success">Add
		  				</button>
					</div> 
					<div class="col-md-3" >
						<ul ng-repeat="sub in add.value[1]" class="level2" id="resourceUl">
							<li ng-class="isHighlighted(sub)" id="resourceLi" ng-click="goToSub(sub, 2)"><p class="lead">{{sub.name}}</p></li>
						</ul>
					</div>
					<div class="col-md-3" >
						<ul ng-repeat="subsub in add.value[2]" class="level2" id="resourceUl">
							<li ng-class="isHighlighted(subsub)" id="resourceLi" ng-click="goToSub(subsub, 3)"><p class="lead">{{subsub.name}}</p></li>
						</ul>
					</div>
					<div class="col-md-3" >
						<ul ng-repeat="subsubsub in add.value[3]" class="level2" id="resourceUl">
							<li ng-class="isHighlighted(subsubsub)" id="resourceLi" ng-click="goToSub(subsubsub, 4)">{{subsubsub.name}}</li>
						</ul>
					</div>
				</div>		
			</div>
			<div collapse="isCollapsed2">
                    <input type="text" class="form-control" ng-show="editNote" placeholder="Write something about this resource" ng-model="note" ng-keyup="onEnter($event.keyCode)">
                    <blockquote ng-hide="editNote">
                    	<p>{{note}}
                    	<span class="glyphicon glyphicon-edit" id="sidebarIcons" ng-click="editNote = !editNote"></span></p>
                    </blockquote>
			</div>
			
			</div>
			</div>
		</div>
	
	</div>
	<!-- 		<input type="text" class="form-control" ng-show="editNote" placeholder="Describe this section" ng-model="note" ng-keyup="onEnter($event.keyCode)">
	        <blockquote ng-hide="editNote">
	        	<p>{{note}}
	        	<span class="glyphicon glyphicon-edit" id="sidebarIcons" ng-click="editNote = !editNote"></span></p>
	        </blockquote> -->

	<div  ng-show="element.section_id" class="jumbotron" id="sectionBox">

		<form ng-submit="setNewName(element, newName)" ng-show="isEditable == element.section_id">
		  <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="{{element.name}}" ng-model="newName">
		</form> 
		<div ng-hide="isEditable == element.section_id">
		  <h1 class="leadResourceText">{{element.name}}</h1>
		</div>		
		<div ng-class="open ? 'btn-group open' : 'btn-group'" id="removeTop" ng-click="open = !open;$event.stopPropagation()">
		  <span data-toggle="dropdown" style="float:right;" class="glyphicon glyphicon-cog"></span>
		  <ul class="dropdown-menu" role="menu">
		    <li ng-click="editName(element);$event.stopPropagation();open = !open"><p>Edit name</p></li>
		    <li ng-click="deleteAlert(element, $index, elements);$event.stopPropagation();open = !open"><p>Remove list</p></li>
		    <li ng-click="addSection(element);$event.stopPropagation();open = !open"><p>Add new sub list</p></li>
		  </ul>
		</div>
<!-- 		<input type="text" class="form-control" ng-show="editNote" placeholder="Describe this section" ng-model="note" ng-keyup="onEnter($event.keyCode)">
        <blockquote ng-hide="editNote">
        	<p>{{note}}
        	<span class="glyphicon glyphicon-edit" id="sidebarIcons" ng-click="editNote = !editNote"></span></p>
        </blockquote> -->

	</div>


</div>